
.modal{
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    width: 100%;
}

.modal-wrapper{
	padding: 32px 36px 32px;
	background-color: white;
	height: 731px;
	width: 630px;
	max-width: calc(100vw -20px);
	max-height: calc(100vh -20px);
	border-radius: 10px;
	overflow: auto;
    display: flex;
    flex-direction: column;
}

.modal-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-back-btn{
	border: none;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
}

.modal-close-btn{
    float: right;
	border: none;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
}

.modal-title{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: black;
    align-self: center;
    margin: 10px 0 3rem 0;
}

#modal-photo-container{
	border-bottom: 1px solid black;
	margin: 0 100px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    padding-bottom: 67px;
}

.modal-img-project{
    width: 80px;
    object-fit: contain;
}

.modal-work-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.modal-icon-container{
    position: absolute;
    top: 4px;
    right: 4px;
}

.modal-edition-icon{
    border-radius: 4px;
    padding: 6px;
    color: white;
    background-color: black;
    font-size: 10px;
    cursor: pointer;
    margin-left: 3px;
}

.modal-edition-link{
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.modal-add-btn{
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	display: flex;
	justify-content: center;
    margin: 38px auto 23px;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
    cursor: pointer;
}

.modal-add-btn:hover{
    background: #0E2F28;
}

.modal-delete-gallery-btn{
	display: flex;
	justify-content: center;
    margin: 0 auto;
	color: #D65353;
	border: none;
	background-color: white;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
    cursor: pointer;
}

#modal-add-photo{
    border-bottom: 1px solid black;
	margin: 0 100px 30px;
    padding-bottom: 50px;
}

.modal-upload{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E8F1F6;
    height: 170px;
    width: 430px;
    border-radius: 3px;
}

.modal-upload-field-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #CBD6DC;
    border-radius: 50px;
    color: #306685;
    font-size: 14px;
    font-family: 'Work Sans';
    font-weight: 500;
    width: 173px;
    height: 35px;
    cursor: pointer;
    margin-top: 0;
}

.fa-image{
    color: #B9C5CC;
    font-size: 55px;
    margin: 28px 0 20px 0;
}

.modal-upload-field-txt{
    margin-top: 7px;
    font-size: 10px;
}

.modal-form-submit{
    height: 36px;
    width: 237px;
    border-radius: 60px;
    background-color: #1D6154;
    border: none;
    color: white;
    font-family: 'Syne';
    align-self: center;
}

/* TODO = les inputs du site ont tous les meme style */
.modal-form-input-title, .modal-form-select-category{
    height: 50px;
    font-size: 1.2em;
    width: 415px;
    border: none;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
    margin: 10px 0 21px 0;
    padding: 0 0 0 1rem;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.modal-form-select-category {
    width: 430px;
}

.modal-form-submit:disabled{
    background-color: #A7A7A7;
}

.modal-upload-label-txt{
  font-size: 14px;
}

#modal-upload-field{
    visibility: hidden;
}

.modal-upload > img {
    max-height: 170px;
}

.modale-error-img-container{
    height: 30px;
}

.d-none{
    display: none;
}

