/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main{
	margin-left: 245px;
	margin-right: 245px;
}

#edition-bar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: black;
    color: white;
    padding: 10px 0 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edition-bar > p{
	font-size: 16px;
	line-height: 19px;
}

.fa-pen-to-square{
	margin-right: 10px;
	font-weight: 100;
}

#edition-complete{
	width: 216px;
	height: 38px;
	margin-left: 20px;
	border-radius: 40px;
	border: none;
	background-color: white;
	color: black;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Work Sans';
	cursor: pointer;
}

.edition-portrait{
	cursor: pointer;
}

#editon-mode-img{
	margin-top: 13px;
	cursor: pointer;
}

#edition-mode-project{
	margin-top: 130px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

#edition-mode-project > a > .fa-pen-to-square{
	margin-left: 30px;
}

#edition-mode-project > a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.disabled{
	display: none!important;
}

.nav-bar{
	display: flex;
	justify-content: space-between;
	margin: 50px 150px 50px;
}

.nav-bar > nav{
	width: 35%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

section {
	margin: 50px 0
}

.sb-img{
	margin: 0!important;
}

.modal{
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    width: 100%;
}

.modal-wrapper{
	padding: 32px 36px 32px;
	background-color: white;
	height: 731px;
	width: 630px;
	max-width: calc(100vw -20px);
	max-height: calc(100vh -20px);
	border-radius: 10px;
	overflow: auto;
}

.modal-close-btn{
	float: right;
	border: none;
	background-color: white;
	font-size: 20px;
	cursor: pointer;
}

.modal-title{
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	color: black;
}

#modal-photo-container{
	border-bottom: 1px solid black;
	margin: 0 100px 0;
}

.modal-add-btn{
	width: 237px;
	height: 36px;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	display: flex;
	justify-content: center;
    margin: 0 auto;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	align-items: center;
}

.modal-delete-gallery-btn{
	display: flex;
	justify-content: center;
    margin: 0 auto;
	color: #D65353;
	border: none;
	background-color: white;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	cursor: pointer;
	padding: 0 10px;
	font-size: 1.2em;
}

.insta-ico{
    width: 20px;
    height: 20px;
	margin-top: 3px;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	/* align-items: center; */
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 474px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
}

.portrait-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

